{% extends "template_base.html"  %}


{% block titulo %}
	Pagina 1
{% endblock %}



{% block conteudo %}

    <h1>a minha 1ª pagina Flask</h1>
                                        
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam in diam vitae mi convallis blandit et sit amet nibh.
        Proin est ligula, feugiat quis turpis id, maximus imperdiet mauris.
        Pellentesque aliquam, mi ac blandit dictum, purus libero tincidunt
        ligula, vitae auctor sapien dui quis massa. Class aptent taciti
        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        Aliquam ullamcorper justo ex, id posuere est laoreet sed.
        Proin nibh arcu, porta et est quis, imperdiet sollicitudin est.
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
    </p>

    <p>
        Fusce dui turpis, lobortis volutpat condimentum ac,
        tincidunt iaculis metus. Maecenas in tellus hendrerit,
        dignissim orci sit amet, sagittis ante. Praesent eget neque semper,
        consectetur erat id, consectetur elit. Ut ultrices magna nisl,
        vel congue ipsum maximus efficitur.
        Sed nec dui ac turpis congue placerat.
        Nunc diam est, ultricies vel velit vel, aliquet semper urna.
        Vivamus posuere tortor non erat dignissim bibendum.
        Etiam ut malesuada dui, in bibendum urna.
        Vivamus bibendum dolor sit amet sapien fringilla gravida.
        Mauris elit lectus, tempor non eros ut, iaculis tempus nisi.
        Nulla facilisi. Nam eu pulvinar tortor, nec mollis ex.

    </p>

{% endblock %}