<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %} {% endblock %} </title>
        <link rel="stylesheet" href="{{ url_for("static", filename="estilos.css") }}">
    </head>
    
    <body>
    
        <nav>
            <a href="{{ url_for("index") }}"> homepage </a>  |
            <a href="/template"> Pag 1 </a>  |
            <a href="/template2"> Pag 2 </a> |
            <a href="/template3"> Pag 3 </a> |
            <a href="{{ url_for("lista_alunos") }}"> Lista Alunos </a> |
            <a href="{{ url_for("add_aluno_view") }}"> Add Alunos </a>
        </nav>

        <main>
            {% block conteudo %} {% endblock %}
        </main>
    
    </body>
</html>